@import "tailwindcss";

:root {
  --foreground: #ffffffde;
  --background-light: #2e2e2e;
  --background-lightish: #2a2929;
  --background: #222222;
  --border: #505050;
  --accent: #275d3a;
  --accent-dark: #214a2c;
  --red: #ef4444;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply cursor-pointer;
}
